.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: 'メイリオ', sans-serif; /* 明朝体に変更 */
  line-height: 1.6; /* 行間に余白を設ける */
}

.App {
  max-width: 800px; /* メインコンテンツの幅を制限 */
  margin: 0 auto; /* メインコンテンツを中央に配置 */
  padding: 20px; /* メインコンテンツに余白を設ける */
}

h1 {
  font-size: 2.4em; /* 見出しの大きさを変える */
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.text {
  margin-left: 20px; /* メインコンテンツを左側に寄せる */
  text-align: left;
}

/* その他の装飾 */
.text p {
  margin-bottom: 10px;
}

.text h2 {
  border-bottom: 1px solid #ccc; /* 罫線を入れる */
  padding-bottom: 10px;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  .text {
    margin-left: 0; /* スマートフォンでは左寄せを解除 */
  }
}
